@model LoocERP.ViewModels.ContractUserViewModel
@{
    Layout = "";
}
<div class="modal fade show" id="contract-close" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Chiudi Contratto</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" asp-controller="ContractUser" asp-action="Close">                
                <input type="hidden" asp-for="@Model.redirectUrl" class="form-control"></input>
                <div class="modal-body row">
                    <input type="hidden" asp-for="@Model.redirectUrl"></input>
                    <input type="hidden" asp-for="@Model.ContractUser.Id"></input>
                    <div class="form-group col-sm-12">
                        <label asp-for="@Model.ContractUser.FineRapportoId"></label>
                        <select asp-for="@Model.ContractUser.FineRapportoId" class="form-control">
                            @foreach (Domain item in @Model.FineRapportoList)
                            {
                                <option value=@item.Id>@item.Name</option>
                            }
                        </select>
                    </div>
                    <div class="form-group col-sm-12">
                        <label asp-for="@Model.ContractUser.ValidTo"></label>
                        <input asp-for="@Model.ContractUser.ValidTo" class="form-control" />
                        <span asp-validation-for="@Model.ContractUser.ValidTo" class="text-danger" placeholder="Valido al"></span>
                    </div>

                    <div class="form-group col-sm-12">
                        <label asp-for="@Model.ContractUser.FineContrattoNota"></label>
                        <input asp-for="@Model.ContractUser.FineContrattoNota" class="form-control"></input>
                        <span asp-validation-for="@Model.ContractUser.FineContrattoNota" class="text-danger"></span>
                    </div>

                    <input type="hidden"  asp-for="@Model.ContractUser.Stato" value=0 />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annulla</button>
                    <button type="submit" class="btn btn-primary">Salva</button>
                </div>
            </form>
        </div>
    </div>
</div>
