@model List<TimeSheet>
@{
    ViewData["Title"] = "Ore Lavoro";
    ViewData["activePage"] = "TimesheetPage";

    DateTime wd = (ViewBag.StartDate??DateTime.Now);
    if(! DateTime.TryParse(wd.ToString(), out wd)){
        wd = DateTime.Now.Date;
    }
    string dten = @wd.Month.ToString("0#")+"-"+@wd.Day.ToString("0#")+"-"+@wd.Year;
    string dtenfull = @wd.Month.ToString("0#")+"-"+@wd.Day.ToString("0#")+"-"+@wd.Year+" 00:00:00";
    string dtit = @wd.Day.ToString("0#")+"-"+@wd.Month.ToString("0#")+"-"+@wd.Year;
    string dtitfull = @wd.Day.ToString("0#")+"-"+@wd.Month.ToString("0#")+"-"+@wd.Year+" 00:00:00";
    ViewBag.dtenfull = @dten;


    DateTime wdend = (ViewBag.EndDate ?? DateTime.Now);
    if (!DateTime.TryParse(wdend.ToString(), out wdend))
    {
        wdend = DateTime.Now.Date;
    }
    string dtenend = @wdend.Month.ToString("0#") + "-" + @wdend.Day.ToString("0#") + "-" + @wdend.Year;
    string dtenendfull = @wdend.Month.ToString("0#") + "-" + @wdend.Day.ToString("0#") + "-" + @wdend.Year + " 00:00:00";
    string dtitend = @wdend.Day.ToString("0#") + "-" + @wdend.Month.ToString("0#") + "-" + @wdend.Year;
    string dtitendfull = @wdend.Day.ToString("0#") + "-" + @wdend.Month.ToString("0#") + "-" + @wdend.Year + " 00:00:00";
    ViewBag.dtenendfull = @dtenend;
}
<div>&nbsp;</div>

<section class="content">
    <div class="card card-primary">
        <div class="card-body">
            <div class="col-12">
                <div class="col-12">
                    <form method="get" id="formreservation">

                        <div class="row m-0">
                            <div class="form-group col-6">
                                <label>Data Login - Da:</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                                    </div>
                                    <input id="reservation" value='@dtit' type="text" class="form-control" >
                                    <input id="reservationen" name="startDate" type="hidden" value='@dtenfull'>
                                </div>
                                <!-- /.input group -->
                            </div>

                            <div class="form-group col-6">
                                <label>Data Login - A:</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                                    </div>
                                    <input id="reservationend" value='@dtitend' type="text" class="form-control" >
                                    <input id="reservationenden" name="endDate" type="hidden" value='@dtenendfull'>
                                </div>
                                <!-- /.input group -->
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
        <!-- /.card-body -->
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card card-primary">
                <!-- /.card-header -->
                <div class="card-body">
                    <div class="col-12">
                        <table id="timesheet" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th class="hide-search"></th>
                                    <th>Nome</th>
                                    <th>Data Login</th>
                                    <th>Data Logout</th>
                                    <th>Ore Lavorate</th>
                                    <th class="hide-search"></th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!--div class="card card-primary">
        <div class="card-body">
            <div class="col-12">
                <div class="col-12">
                    <div id="calendar"></div>
                </div>
            </div>
        </div>
    </div-->
    <div class="modal-body"></div>

    <!-- Modal -->
    <div class="modal fade" id="empModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"></h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="map-content" id="map"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</section>
<style>
    .map-content {
        height: 300px;
        width: 100%;
    }

    /* Optional: Makes the sample page fill the window. */
    html,
    body {
        height: 100%;
        margin: 0;
        padding: 0;
    }
</style>

@section Scripts {
    <script defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBuo4ftucfeOsO0ORkKSTlD8peosJl9ZVc"></script>

    <script>
        $(document).ready(function () {


            //var startDate = '@ViewData["startDate"]';
            //var endDate = '@ViewData["endDate"]';

            $('#timesheet thead tr').clone(true).appendTo('#timesheet thead');
            $('#timesheet thead tr:eq(1) th').each(function (i) {
                var title = $(this).text();
                if (!$(this).hasClass("hide-search")) {
                    $(this).html('<input type="text" placeholder="Cerca ' + title + '" />');
                    $('input', this).on('keyup change', function () {
                        if (table.column(i).search() !== this.value) {
                            table
                                .column(i)
                                .search(this.value)
                                .draw();
                        }
                    });
                }
            });


            var table = $('#timesheet').DataTable({
                ajax: "/Timesheet/ajaxIndex?startDate=@dtenfull" + "&endDate=" + "@dtenendfull",
                dom: 'Bfrtip',//dom: 'Bftp',
                buttons: [
                    'copyHtml5',
                    'excelHtml5',
                    'csvHtml5',
                    'pdfHtml5'
                ],
                "columns": [
                    {
                        "data": null,
                        "name": "Immagine",
                        "render": function (data, type, row) {
                            return '<img src="/Users/getProfilePicture?id=' + row.codiceOperatore + '&v=' + row.dataModifica +'" style="height:50px;width:50px;border:1px solid;border-radius:50%;" />';
                        }
                    },
                    { "title": "Nome Operatore", "data": "nomeOperatore" },
                    {
                        "data": "loginFull",
                        render: function (data, type, row) {
                            console.log(data);
                            return moment(data).format("DD-MM-YYYY HH:mm:ss");
                        }
                    },
                    {
                        "data": "logoutFull",
                        render: function (data, type, row) {
                            console.log(data);
                            if(data == null) return "-";
                            return moment(data).format("DD-MM-YYYY HH:mm:ss");
                        }
                    },
                    {
                        "data": "EffectiveHour",
                        "render": function (data, type, row) {
                            if (row.dataLogout == null) {
                                return '<span>-</span>';
                            }
                            return '<span>' +
                                + row.effectiveHour + ":" + row.effectiveMinute + ":" + row.effectiveSecond +
                                '</span>';
                        }
                    },
                    {
                        "data": null,
                        "name": "",
                        "render": function (data, type, row) {
                            var modal = '<span style="color:#b3a7a7; font-size: 20px;">' +
                                '<a class="btn-sm" onclick="openModal(' + row.id + ');"><i class="fas fa-map-marker" style="font-size: 18px;"></i></a>' +
                            '</span>';
                            if (row.dataLogout == null) {
                                return '<span style="color:orange;font-size: 20px"><i class="fas fa-male"></i><i class="fa fa-exclamation-triangle" ></i></span>'+modal;
                            }
                            return '<span style="color:#ccc;font-size: 20px"><i class="fa fa-smile" aria-hidden="true"></i></span>'+modal;
                        }
                    }
                ],
                columnDefs: [
                    { width: '50px', targets: 0 },
                    { width: '60px', targets: 5 },
                    //{ targets: 2,render: $.fn.dataTable.render.moment('Do MMM YYYY') }
                ],
                "language": {
                    "sEmptyTable": "Nessun dato presente nella tabella",
                    "sInfo": "Vista da _START_ a _END_ di _TOTAL_ elementi",
                    "sInfoEmpty": "Vista da 0 a 0 di 0 elementi",
                    "sInfoFiltered": "(filtrati da _MAX_ elementi totali)",
                    "sInfoPostFix": "",
                    "sInfoThousands": ".",
                    "sLengthMenu": "Visualizza _MENU_ elementi",
                    "sLoadingRecords": "Caricamento...",
                    "sProcessing": "Elaborazione...",
                    "sSearch": "Cerca:",
                    "sZeroRecords": "La ricerca non ha portato alcun risultato.",
                    "oPaginate": {
                        "sFirst": "Inizio",
                        "sPrevious": "Precedente",
                        "sNext": "Successivo",
                        "sLast": "Fine"
                    },
                    "oAria": {
                        "sSortAscending": ": attiva per ordinare la colonna in ordine crescente",
                        "sSortDescending": ": attiva per ordinare la colonna in ordine decrescente"
                    }
                },
                initComplete: function () {
                    // Apply the search
                    this.api().columns().every(function () {
                        var that = this;
                        $('input', this.header()).on('keyup change clear', function () {
                            if (that.search() !== this.value) {
                                that
                                    .search(this.value)
                                    .draw();
                            }
                        });
                    });
                },
                "autoWidth": false,
                "responsive": true,
                orderCellsTop: true,
                fixedHeader: true
            });
            
            /*
            //Date range as a button
            $('#reservation').daterangepicker(
                {
                    //maxDate: '+1m',
                    dateFormat: "dd-MM-yyyy",
                    startDate: '@ViewData["startDate"]', //MM/dd/yyyy
                    endDate: '@ViewData["endDate"]', //MM/dd/yyyy
                    "maxSpan": {
                        "days": 31
                    },
                    ranges: {
                        'Oggi': [moment(), moment()],
                        'Ieri': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                        'Ultimi 7 gg': [moment().subtract(6, 'days'), moment()],
                        'Ultimi 30 gg': [moment().subtract(29, 'days'), moment()],
                        'Mese corrente': [moment().startOf('month'), moment().endOf('month')],
                        'Ultimo mese': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                    },
                },
            ).on('apply.daterangepicker', function (ev, picker) {
                table.ajax.url("/Timesheet/ajaxIndex?startDate=" + picker.startDate.format('MM/DD/Y') + "&endDate=" + picker.endDate.format('MM/DD/Y')).load();
            });
            */
            
            //Date range as a button
            $('#reservation').datepicker(
                {
                    format: "dd-mm-yyyy",
                    //dateFormat: "dd-mm-yyyy",
                    showOn: "button",
                    buttonText: '<i class="fa fa-calendar"></i>',
                    changeMonth: true,
                    changeYear: true,
                    todayBtn: "linked",
                    language: "it",
                    autoclose: true,
                    //startDate: new Date(@wd.Day, @wd.Month, @wd.Year),
                },
            ).on('changeDate', function (e) {

                var year  = e.date.getFullYear();
                var month = (e.date.getMonth() + 1).toString().padStart(2, "0");
                var day   = e.date.getDate().toString().padStart(2, "0");
                $('#reservationen').val(month+"-"+day+"-"+year);
                $('#reservation').val(day+"-"+month+"-"+year);
                $('#formreservation').submit();
            })
            ;;

            //Date range as a button
            $('#reservationend').datepicker(
                {
                    format: "dd-mm-yyyy",
                    //dateFormat: "dd-mm-yyyy",
                    showOn: "button",
                    buttonText: '<i class="fa fa-calendar"></i>',
                    changeMonth: true,
                    changeYear: true,
                    todayBtn: "linked",
                    language: "it",
                    autoclose: true,
                    //startDate: new Date(@wdend.Day, @wdend.Month, @wdend.Year),
                },
            ).on('changeDate', function (e) {

                var year  = e.date.getFullYear();
                var month = (e.date.getMonth() + 1).toString().padStart(2, "0");
                var day   = e.date.getDate().toString().padStart(2, "0");
                $('#reservationenden').val(month+"-"+day+"-"+year);
                $('#reservationend').val(day+"-"+month+"-"+year);
                $('#formreservation').submit();
            })
            ;;
        });

        let map;

        function initMap(nomeOperatore, lat, lng) {
            map = new google.maps.Map(document.getElementById("map"), {
                center: { lat: lat, lng: lng },
                zoom: 8,
            });
            new google.maps.Marker({
                position: { lat: lat, lng: lng },
                map,
                title: nomeOperatore,
            });
        }

        function openModal(timesheet_id) {
            // AJAX request
            $.ajax({
                url: '/Timesheet/ajaxModalSummary',
                //url: '/Timesheet/ajaxModalSummary',
                type: 'post',
                data: { id: timesheet_id },
                success: function (data) {
                    console.log(data.data);
                    var empModal = $('#empModal');

                    empModal.find(".modal-header .modal-title").html(data.data.nomeOperatore);
                    // Add response in Modal body
                    //$('.modal-body').html(response);
                    //$('#empModal-' + timesheet_id).modal('show');

                    initMap(data.data.nomeOperatore, data.data.latitude, data.data.longitude);
                    // Display Modal
                    empModal.modal('show');
                }
            });

        }
    </script>

    @*


        <script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js'></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.1.0/fullcalendar.min.js'></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.1.0/locale-all.js'></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.1.0/fullcalendar.min.css">
        <script>
            /*
            $(document).ready(function () {
                // page is now ready, initialize the calendar...
                //events = {!! json_encode($events)!!
            });

            $('#calendar').fullCalendar({
                events: "/Timesheet/ajaxFullCalendar",
                defaultView: 'listMonth',
                displayEventEnd: true,
                locale: 'it'
            });
        </script>
    *@
}
