@model LoocERP.ViewModels.RelMansioneUserViewModel

<script type="text/javascript">
    $('.selectmacchina').find('.optionmacchina').hide();
    document.getElementById("RelMansioneUser_MansioneId").onchange = changeListener;

    function changeListener() {
        var temp = "";
        $(".selectmacchina").val(temp);
        $('.selectmacchina').find('.optionmacchina').hide();
        var value = this.value;
        $('.selectmacchina').find('.' + value).show();
    }
</script>

<div class="modal fade show" id="rel-mansione-create" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Aggiungi @ViewBag.Title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" asp-controller="RelMansioneUser" asp-action="Create">
                <input type="hidden" asp-for="@Model.redirectUrl" class="form-control" />
                <div class="modal-body row">
                    <div class="form-group col-sm-6">
                        <label asp-for="@Model.RelMansioneUser.MansioneId"></label>
                        <select asp-for="@Model.RelMansioneUser.MansioneId" class="form-control">
                            <option value="" disabled selected>Seleziona una mansione...</option>
                            @foreach (Mansione item in @Model.MansioneList)
                            {
                                <option value="@item.ID">@item.Descrizione</option>
                            }
                        </select>
                    </div>

                    <div class="form-group col-sm-6">
                        <label asp-for="@Model.RelMansioneUser.MansioneMacchinaId"></label>
                        <select asp-for="@Model.RelMansioneUser.MansioneMacchinaId" class="form-control selectmacchina">
                            <option value="null"></option>
                            @foreach (MansioneMacchina item in @Model.MansioneMacchinaList)
                            {
                                <option value=@item.Id class="@item.MansioneId optionmacchina">@item.Description</option>
                            }
                        </select>
                    </div>

                    <div class="form-group col-sm-6">
                        <label asp-for="@Model.RelMansioneUser.DataInizioAttivita"></label>
                        <input asp-for="@Model.RelMansioneUser.DataInizioAttivita" class="form-control" />
                        <span asp-validation-for="@Model.RelMansioneUser.DataInizioAttivita" class="text-danger" placeholder="Data Inizio Attività"></span>
                    </div>

                    <div class="form-group col-sm-6">
                        <label asp-for="@Model.RelMansioneUser.DataFineAttivita"></label>
                        <input asp-for="@Model.RelMansioneUser.DataFineAttivita" class="form-control" />
                        <span asp-validation-for="@Model.RelMansioneUser.DataFineAttivita" class="text-danger" placeholder="Valido dal"></span>
                    </div>

                    <div class="form-group col-sm-6">
                        <label asp-for="@Model.RelMansioneUser.LivelloCompetenza"></label>
                        <select asp-for="@Model.RelMansioneUser.LivelloCompetenza" class="form-control">
                            <option selected="selected" value="">Selezionare livello di competenza</option>
                            <option value=0>Affiancamento</option>
                            <option value=1>Operatore</option>
                            <option value=2>Capo Macchina</option>
                        </select>
                        <span asp-validation-for="@Model.RelMansioneUser.LivelloCompetenza" class="text-danger"></span>
                    </div>

                    <div class="form-group col-sm-6">
                        <label>Sempre valido?</label> <br>
                        <input asp-for="@Model.RelMansioneUser.SempreValido" /> SI
                        <span asp-validation-for="@Model.RelMansioneUser.SempreValido" class="text-danger"></span>
                    </div>

                    <input type="hidden" asp-for="@Model.RelMansioneUser.UserId">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annulla</button>
                    <button type="submit" class="btn btn-primary" onclick="sendAjaxRequest()">Salva</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
    
        }
    </script>        
}