@model LoocERP.ViewModels.RelMansioneUserViewModel

@{
    Layout = "";
    ViewData["Title"] = "Mansione";
}

<link rel="stylesheet" href="~/theme/plugins/jsgrid/jsgrid.min.css">
<link rel="stylesheet" href="~/theme/plugins/jsgrid/jsgrid-theme.min.css">
<link href="~/theme/plugins/tabulator/css/semantic-ui/tabulator_semantic-ui.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">


<!--Export stuff-->
<script type="text/javascript" src="https://oss.sheetjs.com/sheetjs/xlsx.full.min.js"></script>
<div>&nbsp;</div>

<!-- CREATE MODAL -->

@{
    await Html.RenderPartialAsync("_create_modal", @Model);
}
<script>
    if (typeof openMansioneEditModal !== 'function') { //controllo se già esiste
        function openMansioneEditModal(id, userid, redirecturl) {
            console.log(id);
            // AJAX request
            $.ajax({
                url: '/RelMansioneUser/Edit',
                type: 'get',
                dataType: 'html',
                data: {
                    id: id,
                    userId: userid,
                    redirectUrl: redirecturl,
                },
                success: function (data) {
                    //console.log(data);
                    $('#html-ajax-rel-mansione').html(data);
                    var empModal = $('#rel-mansione-update');
                    // Display Modal
                    empModal.modal('show');
                }
            });
        }
    }
</script>
<!-- END CREATE MODAL -->
<section class="content">
    @{
        await Html.RenderPartialAsync("../CommonPartial/_message");
    }
    <div class="card card-primary">
        <div class="card-body">
            <div class="col-12">
                <div class="col-12">
                    <a data-toggle="modal" data-target="#rel-mansione-create">
                        Aggiungi <b>@ViewBag.Title</b> <i class="fa fa-plus-circle" aria-hidden="true"></i>
                    </a>
                    <p class="col-12 p-0">

                    </p>
                </div>
            </div>
        </div>
        <!-- /.card-body -->
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card card-primary">
                <div class="card-body">
                    <div class="col-12">
                        <table id="table" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Mansione</th>
                                    <th>Macchina</th>
                                    <th>Inizio Attività</th>
                                    <th>Fine Attività</th>
                                    <th>Sempre Valido</th>
                                    <th>Livello</th>
                                    <th class="hide-search"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in @Model.RelMansioneUserList)
                                {
                                    <tr>
                                        <td>@(item.Mansione != null ? item.Mansione.Descrizione : "")</td>
                                        <td>@(item.MansioneMacchina != null ? item.MansioneMacchina.Description : "")</td>
                                        <td>@item.DataInizioAttivita</td>
                                        <td>@item.DataFineAttivita</td>
                                        <td>@Html.Raw(@item.SempreValido ? "<i class='fa fa-check c-green'></i>" : "")</td>
                                        <td>
                                            @if (@item.LivelloCompetenza == 0)
                                            {
                                                @Html.Raw("Affiancamento")
                                            }
                                            else if (@item.LivelloCompetenza == 1)
                                            {
                                                @Html.Raw("Operatore")
                                            }
                                            else if (@item.LivelloCompetenza == 2)
                                            {
                                                @Html.Raw("Capo Macchina")
                                            }
                                        </td>
                                        <td>
                                            <a class="btn-sm"
                                               onclick="openMansioneEditModal('@item.Id','@item.UserId','@Model.redirectUrl');">
                                                <i class="fas fa-edit" style="font-size: 18px;"></i>
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>


                    </div>

                </div>
                <!-- /.card-body -->
            </div>
        </div>
    </div>
    <div id="html-ajax-rel-mansione"></div>

</section>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/bootstrap-select.min.js"></script>

}
