@model LoocERP.ViewModels.EditUserViewModel
<!-- edit area sinistra -->
<div id="collapsePassword" class="collapse">
    @if( @Model.User.Email != null ){
    <form asp-controller="Users" asp-action="updatePassword" method="post" enctype="multipart/form-data">
        <!-- /.card-header -->
        <div class="card-body">

            <div class="row">
                <div class="col-md-12">
                    <input type="text" value="@ViewBag.id" asp-for="@Model.User.Id" hidden />
                    <div class="form-group  col-12">
                        <label asp-for="@Model.UpdatePasswordViewModel.Password"></label>
                        <input asp-for="@Model.UpdatePasswordViewModel.Password" class="form-control" />
                        <span asp-validation-for="@Model.UpdatePasswordViewModel.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group  col-12">
                        <label asp-for="@Model.UpdatePasswordViewModel.ConfirmPassword"></label>
                        <input asp-for="@Model.UpdatePasswordViewModel.ConfirmPassword" class="form-control" />
                        <span asp-validation-for="@Model.UpdatePasswordViewModel.ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>
            </div>

        </div>
        <div class="card-footer">
            <div class="float-right">
                <button type="submit" class="btn btn-primary">Salva <i class="fas fa-save"></i></button>
            </div>
        </div>
    </form>
    }
    else{
        <div class="alert alert-info alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <h5><i class="icon fas fa-info"></i> Informazione!</h5>
            Nessun email associata all'account. Per creare l'utente è necessario avere una mail.
        </div>
    }
</div>

<div id="collapseTwo" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
    <div class="card-body">
        <div class="row">
            <div class="col">
                <a data-toggle="collapse" data-target="#collapsePassword" href="#"><i class="fas fa-edit fa-lg"></i> Aggiorna Password</a>
            </div>
        </div>
    </div>
</div>
